<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ieoli.dao.ResultEntityMapper" >
  <resultMap id="BaseResultMap" type="com.ieoli.entity.ResultEntity" >
    <id column="resultID" property="resultid" jdbcType="INTEGER" />
    <result column="modelid" property="modelid" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="regex" property="regex" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="rate" property="rate" jdbcType="DOUBLE" />
    <result column="lastedit" property="lastedit" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    resultID, modelid, description, regex, userid, rate, lastedit
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ieoli.entity.ResultEntityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from results
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from results
    where resultID = #{resultid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from results
    where resultID = #{resultid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ieoli.entity.ResultEntityExample" >
    delete from results
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ieoli.entity.ResultEntity" >
    insert into results (resultID, modelid, description, 
      regex, userid, rate, 
      lastedit)
    values (#{resultid,jdbcType=INTEGER}, #{modelid,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{regex,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, #{rate,jdbcType=DOUBLE}, 
      #{lastedit,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.ieoli.entity.ResultEntity" >
    insert into results
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resultid != null" >
        resultID,
      </if>
      <if test="modelid != null" >
        modelid,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="regex != null" >
        regex,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="rate != null" >
        rate,
      </if>
      <if test="lastedit != null" >
        lastedit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resultid != null" >
        #{resultid,jdbcType=INTEGER},
      </if>
      <if test="modelid != null" >
        #{modelid,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="regex != null" >
        #{regex,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="rate != null" >
        #{rate,jdbcType=DOUBLE},
      </if>
      <if test="lastedit != null" >
        #{lastedit,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ieoli.entity.ResultEntityExample" resultType="java.lang.Integer" >
    select count(*) from results
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update results
    <set >
      <if test="record.resultid != null" >
        resultID = #{record.resultid,jdbcType=INTEGER},
      </if>
      <if test="record.modelid != null" >
        modelid = #{record.modelid,jdbcType=INTEGER},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.regex != null" >
        regex = #{record.regex,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.rate != null" >
        rate = #{record.rate,jdbcType=DOUBLE},
      </if>
      <if test="record.lastedit != null" >
        lastedit = #{record.lastedit,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update results
    set resultID = #{record.resultid,jdbcType=INTEGER},
      modelid = #{record.modelid,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR},
      regex = #{record.regex,jdbcType=VARCHAR},
      userid = #{record.userid,jdbcType=INTEGER},
      rate = #{record.rate,jdbcType=DOUBLE},
      lastedit = #{record.lastedit,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ieoli.entity.ResultEntity" >
    update results
    <set >
      <if test="modelid != null" >
        modelid = #{modelid,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="regex != null" >
        regex = #{regex,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="rate != null" >
        rate = #{rate,jdbcType=DOUBLE},
      </if>
      <if test="lastedit != null" >
        lastedit = #{lastedit,jdbcType=DATE},
      </if>
    </set>
    where resultID = #{resultid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ieoli.entity.ResultEntity" >
    update results
    set modelid = #{modelid,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      regex = #{regex,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=INTEGER},
      rate = #{rate,jdbcType=DOUBLE},
      lastedit = #{lastedit,jdbcType=DATE}
    where resultID = #{resultid,jdbcType=INTEGER}
  </update>
</mapper>